<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="stylesheet" type="text/css" href="/reservation/style.css" />

    <link rel="icon" href="/img/favicon.png" />
    <title>Reservar|Unifametro</title>
</head>
<body>
    <div class="hours-area">
        <div class="box-hours">
            <h2></h2>
            <div class="hours"></div>
            <button onclick="closeHours()" class="btn btn-primary">Voltar</button>
        </div>
    </div>
    <main>
        <div class="main-container">
            <div class="box">
                <form action="/reservation/search" method="POST">
                    <img src="/img/unifametro-logo.png" />
                    <h1>Preencha os campos abaixo</h1>
                    <div class="input-area">
                        <label>Grupo:</label>
                        <select name="groupId" id="group" required>
                            <option value="" disabled selected>Selecione o grupo de salas</option>
                            <%groups.forEach((i)=>{%>
                                <option value="<%=i.Id%>"><%=i.Name%></option>
                            <%})%>
                        </select>
                    </div>

                    <div class="input-area">
                        <label>Data:</label>
                        <input type="date" id="date" name="date" required/>
                    </div>

                    <button type="submit" class="btn-primary">Procurar</button>
                </form>

                <% if(info.length > 0){ %>
                    <div class="table">        
                        <h1>Salas disponíveis</h1>
                        <h2>Dia: <%=info[0].Date%></h2>
                        <div class="rooms">
                            <%info.forEach((room) => {%>
                                <div class="room-area">
                                    <h3><%=room.Name%></h3>
                                    <p onclick="showHours('<%= room.Name %>', '<%= room.Date %>', '<%= room.HoursAvailable %>', '<%= room.Id %>')">Ver horários</p>
                                </div>
                            <%})%>
                        </div>
                    </div>  
                <%}%>
            </div>
        </div>
    </main>

    <script src="/reservation/script.js"></script>
</body>
</html>